/* @import "./all.css"; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --main : #0066cc;
  --main2 : #3399ff;
  --gray : #555;
  --dark-gray : #3399ff;
  --white: #fff;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  list-style-type: none;
  display: inline-block;

}
nav ul li{
  display: inline-block;
  margin-right: 20px;
  transition: color .5s;
}
nav ul li:hover{
  cursor: pointer;
  font-size: 20px;
  color: var(--white);
}
.cart-icon{
  width: 30px;
  height: 30px;
  margin-left: 4px;
  cursor: pointer;
}
.logo{
  width : 150px;
  border-radius: 30px;
  background : white;
  padding : 3px;
}
.logo .txt{
  color : var(--main);
  font-size : 1.2rem;
  padding: 10px 2px;
}
.logo .fa{
  color : var(--main);
  margin: 0 5px;
  font-size: 1.8rem;
}
.btns{
  display : flex;
  flex-direction : column;
  justify-content : space-between;
}
.btns button{
  margin: 5px 20px;
}
a{
  text-decoration: none;
  color: var(--main);
  font-weight: bold;
}
p{
  color: var(--gray);
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.row-3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.row-3 input{
  width: 250px;
  height: 30px;
  padding: 5px;
}
.col-1{
  width: 100%;
  margin: 5px;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-2 .offer-img{
  padding: 50px;
}
.btn{
  display: inline-block;
  color:var(--white);
  background: var(--main);
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover{
  background: var(--main2);
}
.header{
  background: radial-gradient(var(--white),var(--main));
}
.header .row{
  margin-top: 70px;
}
.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  margin-bottom: 30px;
  min-width: 250px;
}
.col-3 img{
  width: 100%;
  height : 250px;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform .5s;
}
.col-4 :hover{
  transform: translateY(-5px);
}
.col-4 img{
  width: 100%;
  height : 250px;
}
.col-4 p{
  font-size: 14px;
}
.title-div{
  text-align: center;
  margin: 10px;
  position: relative;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: var(--gray);
}
.title::after{
  content: "";
  background: var(--main);
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4{
  font-weight: normal;
  color: var(--gray);
}
.search{
  border: 2px solid --main;
  border-radius: 30px;
}
.search input{
  border: none;
  outline: none;
}
.rating{
  display: inline-block;
}
.fa{
  color: var(--main);
}
.icon .fa{
  font-size: 1.6rem;
  cursor: pointer;
}
.icon .fa:hover{
  font-size: 1.8rem;
  color : maroon;
}
.offer{
  background: radial-gradient(var(--white),var(--main));
  margin-top: 80px;
  padding: 30px 0;
}
small{
  color: var(--gray);
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}
.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}
select{
  border: 1px solid var(--main);
  padding: 5px;
}
select:focus{
  outline: none;
}
.page-btn{
  margin: 0 auto 80px;
}
.page-btn span{
  display: inline-block;
  border: 1px solid var(--main);
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover{
  background: var(--main);
  color: var(--white);
}

.single-product{
  margin-top: 80px;
}
.single-product .col-2{
  padding: 20px;
}
.single-product .col-2 img{
  padding: 0;
}
.single-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid var(--main);
}
.single-product input:focus{
  outline: none;
}
.single-product .fa{
  color: var(--main);
  margin-left: 10px;
}
.small-img-row{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
.cart-page{
  margin: 80px auto;
}
.cart-page table{
  width: 100%;
  border-collapse: collapse;
}
.cart-page table th{
  text-align: left;
  padding: 5px;
  color: var(--white);
  font-weight: normal;
  background-color: var(--main);
}
.cart-page td{
  padding: 10px 5px;
}
.cart-page td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
.cart-page td small{
  color: var(--main);
  font-size: 12px;
}
.cart-page td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.btns{
  align-items: center;
  justify-content: center;
  display: flex;
}
.cart-page td:last-child,
.cart-page th:last-child{
  text-align: right;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
.cart-info .remove{
  color : maroon;
  cursor : pointer;
}
.cart-info .remove:hover{
  font-size : 0.9rem;
}
.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid var(--main);
  width: 100%;
  max-width: 400px;
}
.account-page, .logistics, .chats{
  padding: 50px 0;
  background: radial-gradient(var(--white),var(--main));
}
.form-container.container1{
  height: 990px;
}
.form-container.container1 .img{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  height: 220px;
}
.form-container.container1 .img img{
  border-radius: 50px;
  width: 100%;
  height: 100%;
  margin: 5px;
}
.logistics .form-container{
  padding: 0;
  height: 850px;
}
.form-container{
  background: var(--white);
  width: 300px;
  height: 400px;
  position: relative; 
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba((0), 0, 0, 0.1);
  overflow: hidden;
}
.list{
  display: flex;
  justify-content: space-between;
  background-color: var(--main);
  margin: 10px 5px;
  border-radius: 10px;
  cursor: pointer;
}
.list div{
  display: flex;
  flex-direction: column;
}
.list small{
  color: white;
  padding: 2px;
}

.form-container span{ 
  font-weight: bold;
  padding: 0 10px;
  color: var(--dark-gray);
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-container .red{
  color: red;
}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
form input, .control input, form select,  .btns input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn, .control .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus{
  outline: none;
}
form a{
  font-size: 12px;
}
.form-btn{
  display: inline-block;
}
#loginForm{
  left: -300px;
}
#regForm {
  left: 0px;
}
#indicator{
  width: 100px;
  border: none;
  background: var(--main);
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}
.chats .form-container{
  overflow-y: scroll;
}
.chats .sender, .chats .receiver{
  width: fit-content;
  height: fit-content;
  color: var(--white);
  background: var(--main);
  border-radius: 30px;
  margin: 8px;
  padding: 5px;

}
.chats .receiver{
  background: var(--main2);
}
.chats .control{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

/*table styles */
.table{
  width: 100%;
  border-collapse: collapse;
}
.table td, .table th{
  padding: 12px 15px;
  border: 1px #ddd;
  text-align: center;
  font-size: 16px;
}
.table td img{
  width: 50px;
  height: 50px;
}
.table th{
  background-color: var(--main);
  color: var(--white);
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}






/*media query*/
@media only screen and (max-width:800px) {
  nav ul{
      position: absolute;
      top: 70px;
      width: 100%; 
      left: 0;
      background: var(--dark-gray);
      overflow: hidden;
      transition : max-height .5s;
      z-index: 1;
  }
  nav ul li{
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: var(--white);
  }
  nav ul li a{
      color: var(--white);
  }
  .menu-icon{
      display: block;
      cursor: pointer;
  }
}

@media only screen and (max-width:600px) {
  .row{
      text-align: center;
  }
  .row-3{
      flex-direction: column;
  }
  .row-3 select{
      margin: 5px 0;
  }
  .col-2, .col-3, .col-4{
      flex-basis: 100%;
  }
  .single-product .row{
      text-align: left;
  }
  .single-product .col-2{
      padding: 20px 0;
  }
  .single-product h1{
      font-size: 26px;
      line-height: 32px;
  }
  .cart-info p{
      display: none;
  }
  .table thead{
      display: none;
  }
  .table, .table tbody, .table  tr{
      display: block;
      width: 100%;
  }
  .table tr{
      margin-bottom: 15px;
  }
  .table tbody td:nth-child(1){
      background-color: var(--main);
      color: var(--white);
  }
  .table td{
      padding-left: 50%;
      text-align: right;
      position: relative;
      display: block;
  }
  .table td::before{
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-size: 15px;
      color: var(--main);
      text-align: left;
  }

}
@media only screen and (max-width:360px){
  .logo{
    display:none;
  }
}